.App {
  text-align: center;
}

.homepage {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.p-card {
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 1rem;
}

.p-menubar {
  margin-bottom: 1rem;
}
